# Unity .gitignore file.
.DS_Store
Library
Library/*
Builds
Builds/*
BuildsD11
BuildsD11/*
*.csproj
*.sln
*.userprefs
Temp
*.pidb
Build
*.suo
obj/*
obj/Debug/*
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.unityproj
Assets/GUI/Thumbs.db.meta
Assets/GUI/Atlas/Thumbs.db.meta
Assets/Textures/Thumbs.db.meta
*Thumbs.db
*Thumbs.db.meta
Assets/UnityVS.meta
Assets/UnityVS/Editor.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
